/* Mobile screen */
@media (min-width: 375px) {
  html {
    margin: 0;
    padding: 0;
    background: #f7f7f9;
    font-family: "Poppins", sans-serif;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  h1 {
    margin: 0;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    padding-top: 10px;
  }

  nav a {
    text-decoration: none;
    color: #6070ff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
  }

  #headline {
    background: url("../images/header-shapes\ mobile.png");
    padding: 20px;
  }

  #headline h1 {
    color: #172b4d;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 92px;
  }

  #headline p {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  #headline span {
    text-decoration: none;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
  }

  #social-links img {
    width: 20px;
    height: 20px;
    padding: 10px 15px 1px 1px;
    cursor: pointer;
  }
}

/* Desktop screen */
@media (min-width: 768px) {
  body {
    background-color: aliceblue;
  }
}
